@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root,
body {
  margin: 0;
  padding: 0;
  color: #333;

  font-family: "Ownglyph_ParkDaHyun", sans-serif;

  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;

  input,
  textarea {
    outline: none;

    &::placeholder {
      color: #d3d3d3;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 10;
  }
}
